**/*
!.eslintrc.json
!.prettierignore
!.prettierrc.json
!.vsixmanifest
!CHANGELOG.md
!*.png
!eslint.config.mjs
!language-configuration.json
!LICENSE.txt
!package.json
!README.md
!webpack.config.js
!yarn.lock
!dist/
!docs/
!node_modules/
!pages/
!syntaxes/
!test/
!themes/
